/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body{
	margin-top: -80px; /* 固定ナビの高さ分のネガティブマージン */
	padding-top: 50px;
  font-family: 'Lato', sans-serif;
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #fafafa;
}
.back-ground{
  background-image: url("/images/leather.jpg");
  width: 105vw;
  min-height: 100vw;
  background-size: cover;

}
.back-color{
  background-color: white;
      padding: 25px;

}

.empty-box{
	margin-top: 58px; /* 固定ナビの高さ分のネガティブマージン */
  z-index: -999;
}
.site-header{
    margin-top: 30px;
    background: #000000 ;
    /*padding: 60px 20px;*/
    position: fixed;
    justify-content: space-between;
    width: 100%;
    clear: left;
    height: 70px;
    z-index: 999;
}
.site-logo{
    float:left;
    height: 20px;
    width: auto;
    margin-left: 160px;
}
.gnav__menu{
    display: flex;
}
.gnav__menu__item{
    margin-left: 20px;
}
.gnav__menu__item a{
    color: #333;
    text-decoration: none;
}

.content{
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 100px;
    width: 800px;
}
.content p{
    margin-bottom: 40px;
}
.site-footer{
    background: #333;
    padding: 80px 0;
    position: relative;
    width: 105vw;
        margin-left: -15px;

}
.copyright{
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.search{
    float: right;
    width: 500px;
    height: 70px;
    padding-top: 20px;
}
.search-text{
  color: white;
  float: left;
  padding-right: 3px;
}
.search-texxt{
    float: left;
    color: white;
    font-weight: bold;
    margin-top: 3px;
    font-size: 14px;
}
.menu_style{
    position: right;
    margin-right: 160px;
    width: 300px;
    float:right;
    clear: right;
    height: 70px;
}
ul.menu {

  padding: 0 ;
  margin: 0;
}
ul.menu li {
  float: left;  /*メインメニューは横並びに*/
  width: 150px;
  height: 70px;
  background-color: #2F4B97;
  position: relative;  /*子要素の基準とするために指定*/
  list-style-type: none;
  box-sizing:border-box;
}
ul.menu li a {
  display: block;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  position: right;
}
ul.menu li a:hover {
  background-color: #5169A8;
}
ul.menu li ul.sub {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
}
 
ul.menu li:hover ul.sub {
  display: block; 
}
 
ul.menu li ul.sub li:first-child{
  border-top: 1px solid #1C2973; 
}
ul.menu li ul.sub li {
  border: 1px solid #1C2973; 
  border-top: none;  
}
ul.menu {
 zoom:1; 
}
ul.menu:after { 
  height:0;
  visibility:hidden;
  content:".";
  display:block;
  clear:both;
}

.index-head{
  text-align: center;
  font-weight: bold;
  margin: 50px auto;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  height:120px;
  background-color: #DDDDDD ;
  padding-top: 20px;
  font-family: 'Rock Salt', cursive;
}

.entry-box{
  background-color: #EEEEEE ;
  padding: 10px;

}
.entry-button{

}
.entry-user{
  display: inline-flex;
  text-align: center;
}
.entry-image{
  display: inline-flex;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.review-image{
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.item-review{
  text-align: center;
}
.item-body{
  padding-top: 30px;
  font-size: 16px;
  text-align: left;
}
.events{
  display: inline-flex;
  margin: 0 auto;
}
.button{
  margin: 30px;
}
.form-body{
    margin: 100px;
    padding-top: 200px;
}

h2{
  font-family: 'Kosugi Maru', sans-serif;

}
h3{
  font-family: 'Kosugi Maru', sans-serif;
}
.my-image{
  border-radius: 10px;
}
/*.registration-image{
  background-image: url("/images/160362.png");
  width: 95%;
  height: 65%;
  background-size: contain;
  background-position: center;
  margin-top: -138px;
}*/
.comments{
  
}