// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-background{ 
	background-image: url(popcorn-84f293893ef37ac15eee07cc089ad1a566949efa96cce4d35c2dc1add35d11de.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 104vw;
	background-size: cover;
	background-position: center;
	z-index: 1;
	padding-top: 80px;
    margin-left: -185px;
        margin-top: -24px;

}
.about-top{
	background-color: rgba(255,255,255,0.9);
	text-align: center;
	margin: 0 auto;
    width: 800px;
    height: 500px;
    padding-top: 100px;
    position: center;
    border-radius: 180px;
}

.top-logo{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
    font-size: 80px;
    color: black;
    text-shadow: 4px 4px 1px #808080;
}
.top-head{
	font-family: 'Lato', sans-serif;
	padding-top: 50px;
	color: black;
	font-size: 38px;
	text-align: center;
	font-weight: bold;
}
.box-head{
	font-family: 'Lato', sans-serif;
	padding-top: 50px;
	color: black;
	font-size: 38px;
	text-align: center;
	font-weight: bold;
	border-bottom: solid 6px #87CEFA;
	line-height: 1;
}

.top-comment{
	font-family: 'Lato', sans-serif;
	padding-top: 38px;
	font-size: 16px;
	color: black;
	font-weight: bold;
}
.top-box{
	width: 1130px;
	height: 580px;
	background-color: white;
	margin: 0 auto;
	margin-top: 80px; 

}
.top-content{
	width: 300px;
	margin: 30px;
	height: 380px;
	display: inline-flex;
}

.content-title{
	margin: 0 auto;
	padding-left: 128px;
	font-family: 'Rock Salt', cursive;
	font-size: 30px;
	
}
.li-box{
	height: 70px;
}
.content-text{
	padding-top: 10px;
	word-break: break-all;
	text-align: center;
	font-size: 17px;
	font-family: 'Kosugi Maru', sans-serif;

}
ul {
  list-style: none;
}
.couch{
	margin: 0 auto;
	margin-top: 100px;
	padding-bottom: 30px;
	font-size:30px;
    font-weight: bold;
}
.empty{
	height: 200px;
}
.wrap {
    -webkit-animation:buruburu 0.5s infinite linear alternate;
    animation:buruburu 0.5s infinite linear alternate;
    text-align: center;
}

@-webkit-keyframes buruburu {
    0% {-webkit-transform:translate(0, 0) rotate(-3deg);}
    50% {-webkit-transform:translate(0, -1px) rotate(0deg);}
    100% {-webkit-transform:translate(0, 0)rotate(3deg);}
}

@keyframes buruburu {
    0% {transform:translate(0, 0) rotate(-3deg);}
    50% {transform:translate(0, -1px) rotate(0deg);}
    100% {transform:translate(0, 0)rotate(3deg);}
}

.item-box{
  display: inline-flex;
  margin: 75px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 6px 8px 8px 4px #00000075;
  border-radius: 5px;
  word-wrap: break-word;
}
.container{
	margin: 0 auto;
	padding-left: 100px;
	width: 100%;
}
.item-column{
	font-weight: bold;
}
.item-tag{
	padding-right: 2px;
}
.item-content{
	font-size: 13px;
	word-wrap: break-word;
	height: 100%;

}
.item-image{
width: 230px;
}
.index-result{
	height: 68px;
	font-size: 17px;
	background-color: #DDDDDD;
	text-align: center;
	margin-top: -51px;
	padding-left: 10px;
}
