// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-background{
	background-image: url(popcorn.jpg);
	background-size: cover;
	width: 1468px;
	height: 1440px;
	float: right;
	background-position: center;
}